{% extends "base.html"%}
{% load crispy_forms_tags %}

{% block title  %}
    Attendance Summary
{% endblock %}

{% block content %}

<div class="container">
    


<div class="row">
<div class="col-lg-12 mx-auto mt-3">
<div class="card">
    <div class="card-header">
        <div class="d-flex w-100 justify-content-between">
            <h4>Event Dates/Attendance Summary </h4> 
            <h4>Event: {{ event.name }} </h4>
        </div>
    </div>
  
    
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th class="text-center">#</th>
            <th class="text-center">Date</th>
            <th class="text-center">Expected Participants</th>
            <th class="text-center">Present</th>
            <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <form id="attendance_form" method="post" action="/shsems/activities/my/9/attendance/process/">
                <input type='hidden' name='csrfmiddlewaretoken' value='Hip60jfRCr9acVdoqhamzHtC7ABtLdrrvM4LxYYYDOpuJDBF0RCo6HRrXIQEt3oF' />                 
            
            </form>        
            
<!--             
            <tr  >
            <th scope="row">1</th>
            <td class="text-center">Oct. 26, 2018</td>
            <td class="text-center">5:28 a.m.</td>
            <td class="text-center">9 a.m. </td>
            <td class="text-center"><input form="attendance_form" type="text" name="attendance_key" 
                
                value="eSdNC8"
                
                
                /></td>
            <td class="text-center">
                
                <input  form="attendance_form" type="hidden" name="attendance_pk" value="251" /> 
                
                <button form="attendance_form" name="time_in_251" type="submit" 
                
                    value="0"  class="btn btn-sm btn-disabled" 
                 
                    >In</button>
                <button form="attendance_form" name="time_out_251"  type="submit" 
                
                    value="0"  class="btn btn-sm btn-disabled" 
                    
                >Out</button>
               
            </td> 
            </tr>
             -->
        </tbody>
    </table>
    
</div>
</div>
</div>
{% endblock content %}