{% extends "base.html" %}

{% block title %}
  Registration Detail
{% endblock title %}

{% block content %}
    
  <div class="card m-2">
    <div class="card-header">
      <h4>Registration Details</h4>
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ registration.event }}</h4>
      <p class="card-text">Participant: {{ registration.participant }}</p>
      <p class="card-text">Requirements: 
        <a href="{{ registration.parents_permit.url }}">Parent's Permit</a> , 
        <a href="{{ registration.waiver.url }}">Waiver</a>
      </p>
      <p class="card-text">Parent's Contact Number: {{ registration.parents_contact_number }}</p>
      <p class="card-text">Status: {{ registration.status }}</p>
    </div>
  </div>
{% endblock content %}