{% extends "base.html" %}

{% block title %}
All Participants
{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-lg-12 mx-auto mt-3">

            <div class="card">
                <div class="card-header">
                    <div class="d-flex w-100 justify-content-between">
                        <h4>Pending Registrations</h4>                     
                        <h4>Event: {{ event.name }}</h4>
                    </div>
                </div>
                {% if registration_list == null %}
                    <a href="#!" class="list-group-item list-group-item-action list-group-item-warning">There are no created events yet.</a>
                {% else %}
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th>#</th>
                        <th>Participant Name</th>
                        <th>Designation</th>
                        <th>Contact Info</th>
                        <th>Registration Status</th>
                        <!-- <th>Actions</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for registration in registration_list %}
                            <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ registration.participant }}</td>
                            <td>{{ registration.designation }}</td>
                            
                            <td>{{ registration.status }}</td>
                            <td>
                                <form method="post" action="">
                                    <input type='hidden' name='csrfmiddlewaretoken' />
                                    <a href="{% url 'registration_detail' registration.pk %}"><button type="button" class="btn btn-sm btn-primary">Info</button></a>
                                    <form method="post" enctype="multipart/form-data" name="id" value="{{ registration.participant_id }}">
                                        {% csrf_token %}
                                        <button type="submit"class="btn btn-sm btn-success" name="opt" value="approve">Approve</button>
                                        <button type="submit" class="btn btn-sm btn-danger" name="opt" value="disapprove">Disapprove</button>
                                    </form>
                                </form>
                            </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>

            <div class="card mt-4">
                <div class="card-header">
                    <div class="d-flex w-100 justify-content-between">
                        <h4>Official Participants</h4> 
                        <a href="{% url 'attendance_events' event.pk %}"><button type="button" class="btn btn-outline btn-info">View Attendance Summary</button></a>
                    </div>
                </div>
              {% if registration_list == null %}
                <a href="#!" class="list-group-item list-group-item-action list-group-item-warning">There are no created events yet.</a>
              {% else %}
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th>#</th>
                        <th>Participant Name</th>
                        <th>Designation</th>
                        <th>Contact Info</th>
                        <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for registration in registration_list %}
                        {% if registration.status == "Approved" %}
                        <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ registration.participant }}</td>
                        <td>Student</td>
                        <td><code>{{ registration.email }}</code> <br>
                            <code>{{ registration.contact_number }}</code></td>                           
                        <td>
                            <a href="#"><button type="button" class="btn btn-sm btn-primary">View Registration Info</button></a>
                            <a href="#!"><button type="button" class="btn btn-sm btn-disabled">View Attendance</button></a>
                        </td> 
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}